/* .App {
  background-color: black;
  color: white;
  font-family: sans-serif;
} */
.App {
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
